##CHURN PREDICTION

In [2]:
import os
os.chdir("Datasets")

In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [11]:
demo = pd.read_csv("demoDetails.csv", index_col = 0)
ac = pd.read_csv("acDetails.txt", sep = "\t")
service = pd.read_csv("serviceDetails.csv", index_col = 0)

Data Wrangling

In [13]:
#merging ac, demo and service
#check for duplicates, cust_ID commonality
cust_unique_demo = len(np.unique(demo['customerID']))
cust_unique_ac = len(np.unique(ac['customerID']))
cust_unique_service = len(np.unique(service['customerID']))
print(cust_unique_demo, cust_unique_ac, cust_unique_service)

250 250 250

In [14]:
#there is one duplicated customerID in all 3 tables.
#As there are 251 columns.

#the duplicate is found using:
#returns boolean of each unique customerID
#keep takes "first", "last", "False"
#first occurrence is treated as unique of duplicated recs.
#last occurrence is treated as unique of duplicated recs.
#False takes all occurrences of the same rec. value as duplicate
demo.duplicated(subset = ['customerID'], keep = False)

0      False
1      False
2      False
3      False
4      False
       ...
246    False
247    False
248    False
249    False
250     True
Length: 251, dtype: bool

In [15]:
#gives only the subset of the table where it satisfies the condition inside i.e. duplication
demo[demo.duplicated(subset = ['customerID'], keep = False)]
ac[ac.duplicated(subset = ['customerID'], keep = False)]
service[service.duplicated(subset = ['customerID'], keep = False)]

#all 3 have the same duplicate record at 45 and 250

,Unnamed: 0,customerID,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Churn
45,46,9067-SQTNS,Yes,No,No,Yes,Yes,No internet service,No internet service,Yes,No internet service,No
250,251,9067-SQTNS,Yes,No,No,Yes,Yes,No internet service,No internet service,Yes,No internet service,No

In [17]:
#remove duplicates
demo = demo.drop_duplicates()
ac = ac.drop_duplicates()
service = service.drop_duplicates()

#FIRST OCCURRENCE IS KEPT AND THE OTHER OCCCURRENCES ARE DROPPED
#Here, 45th record is kept.

In [28]:
#whether cust_ID is common across all files?
# using dataframe1.equals(dataframe2)
ac.customerID.equals(demo.customerID)

False

In [29]:
ac.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 250 entries, 1 to 250
Data columns (total 7 columns):
customerID          250 non-null object
tenure              250 non-null object
Contract            250 non-null object
PaperlessBilling    250 non-null object
PaymentMethod       250 non-null object
MonthlyCharges      240 non-null float64
TotalCharges        235 non-null float64
dtypes: float64(2), object(5)
memory usage: 15.6+ KB

In [30]:
demo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 250 entries, 0 to 249
Data columns (total 6 columns):
Unnamed: 0       250 non-null int64
customerID       250 non-null object
gender           250 non-null object
SeniorCitizen    245 non-null float64
Partner          250 non-null object
Dependents       250 non-null object
dtypes: float64(1), int64(1), object(4)
memory usage: 13.7+ KB